/*--HEADER--*/
body {
  background: rgba(51, 51, 51, 1);
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
  padding: 0;
}
h2 {
  margin: 0;
  padding: 0;
}
h3 {
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.sideBar__mobile {
  background: rgba(51, 51, 51);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  z-index: 999;
  overflow: hidden;
}
#check {
  display: none;
}
label #btn-on,
label #btn-ex {
  position: fixed;
  cursor: pointer;
}
label #btn-on {
  left: 40px;
  top: 60px;
  display: none;
  z-index: 1111;
}
label #btn-ex {
  left: 246px;
  z-index: 1111;
  top: 40px;
}
#check:checked ~ .sideBar__mobile {
  left: 0;
}
#check:checked ~ label #btn-on {
  left: -300px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #btn-ex {
  left: 246px;
}

.header-left-menu {
  display: flex;
  flex-direction: column;
  height: 305px;
  justify-content: space-between;
  margin-top: 140px;
}
.header-left-menu a {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}
.header-left-menu a:hover {
  color: bisque;
}
.true__menu {
  overflow: hidden;
}
.exit {
  display: none;
}
.On {
  display: flex;
}
.false__menu {
  overflow: scroll;
}
.menu__links__mobile {
  margin-top: 90px;
  width: 140px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.img__mobile__top,
.img__mobile__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link__img-fb__mobile:hover {
  filter: invert(67%) sepia(16%) saturate(1120%) hue-rotate(3deg)
    brightness(96%) contrast(104%);
}
.link__img-instagram__mobile:hover {
  filter: invert(67%) sepia(16%) saturate(1120%) hue-rotate(3deg)
    brightness(96%) contrast(104%);
}
.link__img-YT__mobile:hover {
  filter: invert(67%) sepia(16%) saturate(1120%) hue-rotate(3deg)
    brightness(96%) contrast(104%);
}
.link__img-vk__mobile:hover {
  filter: invert(67%) sepia(16%) saturate(1120%) hue-rotate(3deg)
    brightness(96%) contrast(104%);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.main__content {
  background-image: url("../img/header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.container {
  width: 1110px;
  padding: 0;
  margin: 0;
}
.header-left {
  display: flex;
}
.header-left a {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  padding-right: 63px;
  text-decoration: none;
}
.header-left a:hover {
  color: bisque;
}
.header-right a {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 2px solid #d1a954;
}
.first-screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 190px;
  margin-bottom: 208px;
}
.sliderOne {
  padding-right: 100px;
}
.first-screen-text {
  max-width: 540px;
}
.first-screen-text h1 {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 87px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.first-screen-text h4 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  padding: 50px 0;
}
.first-screen-slider {
  width: 370px;
  height: 510px;
}
.first-screen-text button {
  background: #d1a954;
  color: white;
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  cursor: pointer;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: none;
  padding: 16px 47px;
}

.sideBar {
  background: rgba(51, 51, 51, 0.75);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  max-width: 150px;
  z-index: 999;
  overflow: hidden;
}
.sideBar__title {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #c4c4c4;
  transform: rotate(-90deg);
  width: 440px;
  display: flex;
  align-items: center;
}
.sideBar__title:before {
  content: "";
  width: 80px;
  height: 3px;
  background-color: #c4c4c4;
  margin-right: 40px;
}
.link__img-instagram {
  margin-top: 250px;
}
.link__img-instagram:hover {
  filter: invert(67%) sepia(16%) saturate(1120%) hue-rotate(3deg)
    brightness(96%) contrast(104%);
}
.link__img-fb {
  margin-top: 30px;
}
.link__img-fb:hover {
  filter: invert(67%) sepia(16%) saturate(1120%) hue-rotate(3deg)
    brightness(96%) contrast(104%);
}
.link__img-vk {
  margin-top: 30px;
}
.link__img-vk:hover {
  filter: invert(67%) sepia(16%) saturate(1120%) hue-rotate(3deg)
    brightness(96%) contrast(104%);
}
.link__img-YT {
  margin-top: 30px;
  margin-bottom: 86px;
}
.link__img-YT:hover {
  filter: invert(67%) sepia(16%) saturate(1120%) hue-rotate(3deg)
    brightness(96%) contrast(104%);
}

.about h1 {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-top: 150px;
  margin-bottom: 100px;
  padding-left: 50px;
  color: white;
}
.about__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
}
.swiper__buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 50px;
}
.button-prev,
.button-next {
  cursor: pointer;
}
.about__content__main {
  display: flex;
  justify-content: space-between;
}
.best__theater {
  display: flex;
  flex-direction: column;
}
.best__theater span {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 40px;
}
.best__theater h4 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  max-width: 445px;
  height: 210px;
  margin: 0;
}
.about__theater {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}
.about__theater__top {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 20px;
}
.about__theater__top__img {
  display: flex;
  padding-bottom: 15px;
}
.about__theater__bottom {
  display: flex;
  flex-direction: column;
}
.about__theater__bottom__img {
  display: flex;
  margin-bottom: 15px;
}
.about__theater h4 {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  padding-bottom: 40px;
}
.about__theater h6 {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  margin: 0;
  color: white;
}
.about__img {
  width: 350px;
  height: 292px;
}
.about__img img {
  padding-left: 15px;
}
.our__productions {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
}
.our__productions h1 {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 100px;
  color: white;
}
.our__productions__slider {
  display: flex;
  justify-content: center;
}

.our__productions__slide {
  max-width: 100%;
  height: 550px;
  position: relative;
}
.slide__img img {
  width: 100%;
}
.our__productions__wrapper {
  padding-left: 150px;
}
.slide__img h2 {
  font-family: Open Sans Condensed;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 4;
  opacity: 1;
  visibility: visible;
}
.slide__img h3 {
  font-family: Open Sans Condensed;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 80px;
  z-index: 4;
  opacity: 1;
  visibility: visible;
  padding-bottom: 40px;
}
.slide__title {
  font-family: Open Sans Condensed;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 4;
  opacity: 1;
  visibility: visible;
}
.slide__subtitle {
  font-family: Open Sans Condensed;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 40px;
  z-index: 4;
  opacity: 1;
  visibility: visible;
  padding-bottom: 40px;
}
.our__productions__slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: 0.8s;
  background: linear-gradient(
    0deg,
    rgba(51, 51, 51, 0.65),
    rgba(51, 51, 51, 0.65)
  );
}

.our__productions__slide:hover::after {
  display: none;
}

.link__slide {
  background: #d1a954 url(../img/search.svg) center no-repeat;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 0 auto;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50px, -50px);
  opacity: 0;
  visibility: hidden;
  transition: 0.8s;
  cursor: pointer;
}

.our__productions__slide:hover .link__slide {
  visibility: visible;
  opacity: 1;
}

.our__productions__slide:hover .slide__subtitle {
  opacity: 0;
  visibility: hidden;
}

.our__productions__slide:hover .slide__title {
  opacity: 0;
  visibility: hidden;
}
.our__productions__slide:hover .slide__img h3 {
  opacity: 0;
  visibility: hidden;
}

.stars {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.stars__content {
  background-image: url("../img/star.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 550px;
}
.years {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 190px;
  margin-right: 103px;
}
.years h2 {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 98px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #d1a954;
}
.stars__content__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.5rem;
}
.star__block {
  display: flex;
  width: 230px;
  height: 24px;
  justify-content: space-between;
}
.stars__subtitle {
  width: 540px;
  height: 149px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  color: #ffffff;
  margin-top: 25px;
}
.partners {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
}
.partners h2 {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-bottom: 100px;
  color: white;
}

.slider3__container {
  max-width: 1034px;
  margin: 0 auto;
  height: 272px;
}
.partners__wrapper {
  display: flex;
  text-align: center;
}
.partners__slide__column {
  height: 272px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mecenat {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mecenat h2 {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 150px;
  color: white;
}

.mecenat__contact {
  display: flex;
  width: 1110px;
  margin: 0 auto;
  margin-bottom: 100px;
  justify-content: space-around;
}
.mecenat__telNumber p {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 25px;
}
.form__input input {
  background: #444444;
  border: 1px solid #616161;
  box-sizing: border-box;
  height: 35px;
  width: 180px;
}
.input__textArea textarea {
  background: #444444;
  border: 1px solid #616161;
  box-sizing: border-box;
  width: 310px;
  height: 100px;
}
form {
  height: 190px;
  max-width: 730px;
}

.mecenat__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form__input {
  display: flex;
  justify-content: space-between;
}
.input__name__number {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.input__company__email {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form__text__submit {
  display: flex;
  height: 50px;
  justify-content: space-between;
  width: 730px;
}
.form__text__submit p {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: #989898;
  max-width: 398px;
}
.form__text__submit input {
  background: none;
  border: none;
}
.form__text__submit button {
  background: #d1a954;
  width: 190px;
  height: 50px;
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}
.form__input input {
  padding-left: 15px;
}
.form__input textarea {
  padding-left: 15px;
  padding-top: 9px;
}
.form__input input::placeholder {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #989898;
}
.form__input textarea::placeholder {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #989898;
}

footer {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
footer small {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: #989898;
}
.footer__content {
  width: 1110px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 48px;
  border-top: 1px solid #565656;
}

@media screen and (max-width: 1415px) {
  header {
    flex-direction: column;
  }
  .header-left {
    justify-content: center;
    max-width: 690px;
  }
  .header-left a {
    padding-right: 20px;
  }
  .header-right {
    margin-top: 50px;
  }
  .sliderOne {
    display: none;
  }
  .first-screen {
    justify-content: center;
  }
  .about__img {
    display: none;
  }
  .about__content__main {
    justify-content: center;
  }
  .stars__content {
    background-size: cover;
    background-repeat: no-repeat;
  }
  .slider3__container {
    max-width: 690px;
  }

  .mecenat__contact {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    width: 100%;
  }
  .mecenat__form {
    margin: 0 auto;
  }
  .form__text__submit p {
    text-align: left;
  }
  .mecenat__telNumber {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    width: 690px;
    margin: 0 auto;
  }
  .mecenat__contact__adress {
    text-align: right;
  }
  .footer__content {
    width: 690px;
  }
}

@media screen and (max-width: 993px) {
  .sideBar {
    display: none;
  }
  label #btn-on {
    display: flex;
  }
  header {
    flex-direction: row;
    justify-content: flex-end;
  }
  header .header-left {
    display: none;
  }
  .header-right {
    margin: 0;
  }
  .stars__content {
    width: 100%;
    justify-content: center;
  }
  .years {
    margin: 0;
    margin-left: 99px;
  }
  .stars__subtitle {
    max-width: 450px;
  }
}
@media screen and (max-width: 768px) {
  form {
    max-width: 509px;
  }
  .best__theater {
    padding-left: 10px;
  }
  .form__input {
    max-width: 509px;
    flex-wrap: wrap;
    align-items: center;
  }
  .form__input input {
    width: 230px;
  }
  .input__textArea textarea {
    width: 509px;
    margin-top: 30px;
  }
  .input__company__email,
  .input__name__number {
    height: 100px;
  }
  .form__text__submit {
    flex-wrap: wrap-reverse;
    width: 435px;
    height: 130px;
    justify-content: center;
    margin: 40px auto;
  }
  .form__text__submit p {
    text-align: center;
    margin-top: 30px;
  }
  .mecenat__telNumber {
    margin-top: 200px;
    width: 509px;
  }
  .mecenat__contact {
    margin-bottom: 60px;
  }
  .footer__content {
    width: 504px;
  }
  .slider3__container {
    max-width: 510px;
  }
  .stars__content {
    width: 100%;
  }
  .stars__subtitle {
    max-width: 330px;
    font-size: 30px;
  }
  .years {
    margin: 0;
  }
  .stars__content__right {
    margin: 0;
    margin-left: 25px;
  }
  .our__productions__wrapper {
    padding: 0 30px;
  }
  .header-right a {
    margin: 0 30px;
  }
  .about__theater {
    padding: 0 10px;
  }
}
@media screen and (max-width: 576px) {
  .first-screen-text h1 {
    font-size: 56px;
  }
  .first-screen-text {
    padding: 0 10px;
  }
  .slide__title {
    font-size: 20px;
  }
  .slide__img h3 {
    bottom: 65px;
  }
  .slide__subtitle {
    font-size: 16px;
  }

  .about__content__main {
    flex-direction: column;
  }
  .about h1 {
    padding-left: 0;
  }
  .best__theater {
    text-align: center;
  }
  .best__theater h4 {
    max-width: 330px;
    height: 350px;
    padding: 0 0.2rem;
  }
  .about__theater__bottom h6 {
    padding-top: 3px;
  }
  .about__theater h4 {
    text-align: center;
  }
  .about__theater__content {
    display: flex;
    justify-content: space-around;
  }
  .our__productions {
    padding-top: 80px;
  }
  .stars__subtitle {
    font-size: 24px;
    width: 100%;
  }
  .star__block {
    width: 160px;
  }
  .stars__content__right {
    margin-left: 10px;
  }
  .years {
    padding-left: 10px;
  }
  .years h2 {
    font-size: 56px;
  }
  .slider3__container {
    width: 100%;
  }
  .input__textArea {
    margin: 30px auto;
  }
  .input__textArea textarea {
    width: 330px;
  }
  .form__input input {
    width: 157px;
  }
  .input__name__number {
    margin: 0 auto;
  }
  .input__company__email {
    margin: 0 auto;
  }
  .form__input {
    max-width: 331px;
    margin: 0 auto;
  }
  .mecenat__telNumber {
    width: 330px;
    margin-top: 220px;
  }
  .mecenat h2 {
    font-size: 36px;
    margin-bottom: 50px;
  }
  .partners h2 {
    font-size: 36px;
  }
  .form__text__submit {
    width: 330px;
  }
  .mecenat__telNumber p {
    font-size: 12px;
  }
  .footer__content {
    width: 330px;
  }
  .our__productions h1 {
    font-size: 36px;
  }
  about__theater {
    padding-top: 30px;
  }
}
