/*--HEADER--*/
body {
  background: rgba(51, 51, 51, 1);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
main {
  background-image: url("../img/header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.container {
  width: 1110px;
  padding: 0;
  margin: 0;
}
.header-left {
  display: flex;
}
.header-left a {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  padding-right: 63px;
  text-decoration: none;
}
.header-left a:hover {
  text-decoration: underline;
  text-decoration-color: #d1a954;
  text-decoration-style: double;
}
.header-right a {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}
.header-right a:hover {
  text-decoration: underline;
  text-decoration-color: #d1a954;
  text-decoration-style: double;
}
.first-screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 190px;
  margin-bottom: 208px;
}
.first-screen-text {
  max-width: 540px;
}
.first-screen-text h1 {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 87px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.first-screen-text h4 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 50px;
}
.first-screen-text button {
  background: #d1a954;
  color: white;
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  cursor: pointer;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: none;
  padding: 16px 47px;
}

.sideBar {
  background: rgba(51, 51, 51, 0.75);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  max-width: 150px;
  z-index: 999;
  overflow: hidden;
}
.sideBar__title {
  font-family: Open Sans Condensed Bold;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #c4c4c4;
  transform: rotate(-90deg);
  width: 440px;
  display: flex;
  align-items: center;
}
.sideBar__title:before {
  content: "";
  width: 80px;
  height: 3px;
  background-color: #c4c4c4;
  margin-right: 40px;
}
.link__img-instagram {
  margin-top: 250px;
}
.link__img-instagram:hover {
  filter: invert(67%) sepia(16%) saturate(1120%) hue-rotate(3deg)
    brightness(96%) contrast(104%);
}
.link__img-fb {
  margin-top: 30px;
}
.link__img-fb:hover {
  filter: invert(67%) sepia(16%) saturate(1120%) hue-rotate(3deg)
    brightness(96%) contrast(104%);
}
.link__img-vk {
  margin-top: 30px;
}
.link__img-vk:hover {
  filter: invert(67%) sepia(16%) saturate(1120%) hue-rotate(3deg)
    brightness(96%) contrast(104%);
}
.link__img-YT {
  margin-top: 30px;
  margin-bottom: 86px;
}
.link__img-YT:hover {
  filter: invert(67%) sepia(16%) saturate(1120%) hue-rotate(3deg)
    brightness(96%) contrast(104%);
}
.about {
  display: flex;
  justify-content: center;
}
.about__content {
  display: flex;
  align-items: center;
  width: 1110px;
  margin-top: 150px;
  justify-content: space-between;
}
.best__theater {
  display: flex;
  flex-direction: column;
}
.best__theater span {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.best__theater h4 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
}
.about__theater {
  display: flex;
  flex-direction: column;
}
.about__theater h1 {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.about__theater h4 {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.about__theater h6 {
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
}
.about__img{
  width: 350px;
  height: 292px;
}